body{
}
button{
    float: right;
}
dl{
    font-family: 'Raleway', sans-serif;
}
dt{
    font-family: 'Raleway', sans-serif;
}
dd{
    font-family: 'Raleway', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
}
.navbar-brand {
    color: #112a3f;
}
.navbar-nav > li > a{
    color: #112a3f;
}
.navbar{
    margin: 0px !important;
    position: fixed !important;
    width: 100%;
    z-index: 100;
    opacity: .9;
    background: rgba(255, 255, 255, 0.64);
}
.navbar-nav{
    list-style: none;
    padding: 1em;
}
.home{
    padding-right: 4rem;
    padding-left: 2rem;
}
.nav-link{
    margin: 4rem;
}
.landing{
    background: black;
}
img{
    width: 2em;
}
.expand{
    position: absolute;
    width: 100%;
    object-fit: cover;
}
#fav-container{
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    padding-top: 7rem;
    display: none;
}

#favorite-page{
    font-family: 'Raleway', sans-serif;
}
#container{
 padding-top: 7rem;  
 display: none;
}
.nav > li{
    width: 200px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.well{
    height: 125px;
}
.hidden{
    display: none;
}
.fa-star-o{
    margin: 5px;
    float: right;
    cursor: pointer;
}
.form-inline{
    margin-top: 8px;
    text-align: right;
}
.header-form{
    display: none;
}

.descripton{
    position: absolute !important;
    top: 15%;
    left: 60%;
    float: right;
    background: #b0b0b0;
    text-align: center;
    height: 50rem;
    width: 45rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 10px -2px;
}

.about{
    margin: auto;
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
    width: 45%;
}

.about-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 4rem 3rem 0rem 1rem;
}

.about-list > li{
    padding: 3rem;
}

.landing-search{
    margin-top: 7rem;
    text-align: center;
}

.landing-input{
    width: 55% !important;
    font-family: 'Raleway', sans-serif;
    display: -webkit-inline-box;
}

.landing-button{
    float: none;
    background: white;
}
#search-box{
    width: 30%;
    font-family: 'Raleway', sans-serif;
    display: -webkit-inline-box;
}
#submit{
    display: -webkit-inline-box;
}
.home{
    display: none;
}
.brand-div{
    text-align: center;
    margin: 10px;
}
.guitar{
    width: 3%;
}
.brand{
    display: inline-flex;
    text-align: left;
    font-family: 'Berkshire Swash', cursive;
    color: #9294b5;
}
.title-div{
    display: -webkit-inline-box;
}

@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 25rem !important;
        vertical-align: middle;
        margin-right: .5rem;
    }
    .navbar-nav{
        margin: 0px;
    }
}
@media (min-width: 550px){
    .form-inline .form-control {
        display: inline-block;
        width: 20rem !important;
        vertical-align: middle;
        margin-right: .5rem;
    }
    .navbar-nav{
        margin: 0px !important;
        display: flex;
    }
}
@media (max-width: 1076px){
    .about-list{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .about-list > li {
        margin: 0px; 
        padding: 0px; 
    } 
    h3{
        font-size: 20px;
    }
    img{
        width: 1.5em;
    }
    .landing-search{
        margin-top: 2rem;
    }
    .form-inline .form-control{
        width: 15rem !important;
    }
}

@media (max-width: 991px){
    .expand{
        height: 100%;
    }
    .descripton{
        left: 20%;
        top: 15%;
        width: 66.666667% !important;
    }
    
    .form-inline .form-control{
        width: 30rem !important;
    }
}

