body{
}
button{
    float: right;
}
dl{
    font-family: 'Raleway', sans-serif;
}
dt{
    font-family: 'Raleway', sans-serif;
}
dd{
    font-family: 'Raleway', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
}
.navbar{
    margin: 0px !important;
    position: fixed !important;
    width: 100%;
    z-index: 100;
    opacity: .9;
    background: rgba(255, 255, 255, 0.64);
}
.navbar-nav{
    list-style: none;
    padding: 1em;
}
.home{
    padding-right: 4rem;
    padding-left: 2rem;
}
.nav-link{
    margin: 4rem;
}
.landing{
    background: black;
}
img{
    width: 2em;
    opacity: .5;
}
.expand{
    width: 100%;
}
#fav-container{
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    padding-top: 7rem;
}
#favorite-page{
    font-family: 'Raleway', sans-serif;
}
#main-page{
}
#container{
 padding-top: 7rem;   
}
.nav > li{
    width: 200px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.well{
    height: 125px;
}
.hidden{
    display: none;
}
.fa-star-o{
    margin: 5px;
    float: right;
    cursor: pointer;
}
.form-inline{
    margin-top: 8px;
    text-align: right;
}
.header-form{
    display: none;
}

.descripton{
    position: absolute;
    top: 15%;
    left: 60%;
    float: right;
    background: #b0b0b0;
    text-align: center;
    height: 50rem;
    width: 45rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 10px -2px;
}

.about{
    margin: auto;
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
    width: 45%;
}

.about-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 4rem 3rem 0rem 1rem;
}

.about-list > li{
    padding: 3rem;
}

.landing-search{
    margin-top: 7rem;
    text-align: center;
}

.landing-input{
    width: 55% !important;
    font-family: 'Raleway', sans-serif;
    display: -webkit-inline-box;
}

.landing-button{
    float: none;
    background: white;
}
#search-box{
    width: 30%;
    font-family: 'Raleway', sans-serif;
    display: -webkit-inline-box;
}
#submit{
    display: -webkit-inline-box;
}
.home{
    display: none;
}
.brand-div{
    text-align: center;
    margin: 10px;
}
.guitar{
    width: 3%;
}
.brand{
    display: inline-flex;
    text-align: left;
    font-family: 'Berkshire Swash', cursive;
    color: #9294b5;
}
.title-div{
    display: -webkit-inline-box;
}

@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 30rem;
        vertical-align: middle;
        margin-right: .5rem;
    }
}